@model TWebAlfa5.Models.Product

@{
    ViewBag.Title = "Добавить товар";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number", step = "0.01" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Stock)
        @Html.TextBoxFor(model => model.Stock, new { @class = "form-control", type = "number " })
    </div>

    <div class="form-group">
        @Html.Label("Категория")
        @Html.DropDownList("CategoryId", 
            (SelectList)ViewBag.Categories, 
            "-- Выберите категорию --", 
            new { @class = "form-control" })
    </div>



    <button type="submit" class="btn btn-success">Сохранить</button>
    @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-secondary" })
}