@model IEnumerable< eUseControl.Domain.Models.Product>

@{
    ViewBag.Title = "Список товаров";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить товар", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered">
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Цена</th>
        <th>Категория</th>
        <th>Количество</th>
        <th>Действия</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@(item.Category?.Name)</td>
            <td>@item.Stock</td>
            <td>
            
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>